<div id="footer">
  <div class="container">
    <div class="row">
      <div class="12u">
        <!-- Contact -->
          <section class="contact">
            <header>
              <h3>Have questions?</h3>
            </header>
            <p>Email us at <a href="mailto:hello@designworks.nu">hello@designworks.nu</a></p>
            <ul class="icons">
              <li><a href="https://twitter.com/designworksnu" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="https://www.facebook.com/designworks.nu" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="http://instagram.com/dsgnwrks/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="https://www.linkedin.com/company/designworks-nu" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
            </ul>
          </section>
        
        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>&copy; Designworks. All rights reserved.</li><li>Designed by: Arisa & Nikhil</li>
            </ul>
          </div>
        
      </div>
    
    </div>
  </div>
</div>