<div id="footer">
  <div class="container">
{{!--     <article id="form" class="container special">

      <header class="major special">
        <h2>Need something designed?</h2>
      </header>

      <p>Let us know what you want, when you want it and we will get back to you right away!</p>

      <form name="contactform" method="post" action="mail">
        <div class="row text-center">
          <div class="4u 12u(mobilep)">
            <input type="text" name="Name" placeholder="Name" required>
          </div>
          <div class="4u 12u(mobilep)">
            <select type="text" name="Service" placeholder="Service">
              <option value="general">General Inquiry</option>
              <option value="Logo">Logo</option>
              <option value="Flyer">Flyer</option>
              <option value="Social Media Package">Social Media Package</option>
              <option value="Pamphlet">Pamphlet</option>
              <option value="Website">Website</option>
            </select>
          </div>
          <div class="4u 12u(mobilep)">
            <input type="email" name="Email" placeholder="Email" required>
          </div>
        </div>
        <div class="row">
          <div class="12u">
            <textarea name="Message" placeholder="Message" rows="6 required"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="12u">
            <ul class="actions">
              <li><div class="g-recaptcha" data-sitekey="6LfpEQcTAAAAAFKi4Hu9QlHD9ceFjjulP_fUrqsk"></div></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="12u">
            <ul class="actions">
              <li><input id="email-btn" type="submit" value="Send Message"></li>
            </ul>
          </div>
        </div>
      </form>

    </article> --}}

    <div class="row">
      <div class="12u">
        <!-- Contact -->
          <section class="contact">
            <header>
              <h3>Have questions?</h3>
            </header>
            <p>Email us at <a href="mailto:hello@designworks.nu">hello@designworks.nu</a></p>

            {{!adding specs form to footer}}
            <header>
              <h3>Interested?</h3>
            </header>
            <p><a href="https://docs.google.com/a/u.northwestern.edu/forms/d/1203JrX-QCvGeP3GqKYY1DIUAUIogIas7QTn51A9iCD8/viewform?c=0&w=1"><span style="font-weight: 300;">Start your project here</span></a></p>
            
            <ul class="icons">
              <li><a href="https://twitter.com/designworksnu" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="https://www.facebook.com/designworks.nu" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="http://instagram.com/dsgnwrks/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="https://www.linkedin.com/company/designworks-nu" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
            </ul>
          </section>
        
        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>&copy; Designworks. All rights reserved.</li><li>Designed by: Arisa & Nikhil</li>
            </ul>
          </div>
        
      </div>
    
    </div>
  </div>
</div>