<nav id="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/process">Process</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li>
      <a href="services">Services</a>
      <ul>
        <li><a href="/services#logos">Logos</a></li>
        <li><a href="/services#flyers">Flyers</a></li>
        <li><a href="/services#social-media">Social Media</a></li>
        <li><a href="/services#pamphlets">Pamphlets</a></li>
        <li><a href="/services#apparel">Apparel</a></li>
      </ul>
    </li>
    <li><a href="/team">Team</a></li>
    <li><a href="https://designworks.typeform.com/to/NpUdMe">Join Us</a></li>
  </ul>
</nav>