<!doctype html>
<html lang="en">
<head>
  <title>DesignWorks</title>
  <link rel="icon" href="/img/favicon.ico" sizes="32x32">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.dropotron.min.js"></script>
  <script src="js/jquery.scrolly.min.js"></script>
  <script src="js/jquery.onvisible.min.js"></script>
  <script src="js/skel.min.js"></script>
  <script src="js/skel-layers.min.js"></script>
  <script src="js/jquery-scrolltofixed-min.js"></script>
  <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
  <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" media="screen" />
  <script src="js/main.js"></script>
  <script src="js/init.js"></script>
  <noscript>
    <link rel="stylesheet" href="css/skel.css" />
    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/helios.css" />
    <link rel="stylesheet" href="css/style-desktop.css" />
    <link rel="stylesheet" href="css/style-noscript.css" />
  </noscript>
  <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58692338-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

  {{{body}}}

</html>