<body class="homepage">

  <div id="header">
    <div class="inner">
      <header>
        <h1>DesignWorks</h1>
        <hr />
        <p>Northwestern’s Premier Design Firm</p>
      </header>
      <footer>
        <a href="#banner" class="button circled scrolly"><i class="fa fa-angle-double-down"></i></a>
      </footer>
    </div>

    {{> nav}}
  </div>

  <section id="banner">
    <header>
      <h2>Hello! We are <strong>DesignWorks</strong>.</h2>
      <p class="10u -1u">
        We design. We develop. If you want something else, we can probably do that too. We're a team of Northwestern's best designers and developers here to make this world a little more beautiful, one project at a time. 
      </p>
    </header>
  </section>

  <section class="carousel">
    <header>
      <h2 class="carousel-header">Our Services</h2>
    </header>
    <div class="reel">
      <article>
        <a href="/services#logos" class="image featured"> 
          <img src="img/logos.jpg" alt="" />
        </a>
        <header>
          <h3><a href="/services#logos">Logos</a></h3>
        </header>
        <p>A logo is the signature of your organization. We'll make it shine.</p>         
      </article>
    
      <article>
        <a href="/services#flyers" class="image featured"> 
          <img src="img/flyers.png" alt="" />
        </a>
        <header>
          <h3><a href="/services#flyers">Flyers</a></h3>
        </header>
        <p>Have something to announce? Our flyers will bring the masses.</p>          
      </article>
    
      <article>
        <a href="/services#social-media" class="image featured">
          <img src="img/coverphoto.png" alt="" />
        </a>
        <header>
          <h3><a href="/services#social-media">Social Media Package</a></h3>
        </header>
        <p>From Facebook to Twitter, we have your social media covered.</p>
      </article>
    
      <article>
        <a href="/services#pamphlets" class="image featured"><img src="img/pamphlets.jpg" alt="" /></a>
        <header>
          <h3><a href="/services#pamphlets">Brochures/Pamphlets</a></h3>
        </header>
        <p>We'll help you convey your information in a visually appealing way!</p>             
      </article>

      <article>
        <a href="/services#apparel" class="image featured"><img src="img/apparel.png" alt="" /></a>
        <header>
          <h3><a href="/services#apparel">Apparel</a></h3>
        </header>
        <p>Represent your organization in style with unique apparel designs.</p>             
      </article>
    
{{!--       <article>
        <a href="/services#websites" class="image featured"><img src="img/websites.png" alt="" /></a>
        <header>
          <h3><a href="/services#websites">Websites</a></h3>
        </header>
        <p>A website just the way you want it. Guaranteed.</p>              
      </article> --}}

    </div>
  </section>
  <!-- Testimonials -->
<!--      <div class="wrapper style1">
        
        <section id="features" class="container special">
          <header>
            <h2>Testmonials</h2>
            <p>We love our clients, and we think they love us too</p>
          </header>
          <div class="row">
            <article class="4u special">
              <a href="#" class="image featured"><img src="img/pic07.jpg" alt="" /></a>
              <header>
                <h3><a href="#">Wildside</a></h3>
              </header>
              <p>
                "Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
                porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum."
              </p>
            </article>
            <article class="4u special">
              <a href="#" class="image featured"><img src="img/pic08.jpg" alt="" /></a>
              <header>
                <h3><a href="#">NSH</a></h3>
              </header>
              <p>
                "Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
                porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum."
              </p>
            </article>
            <article class="4u special">
              <a href="#" class="image featured"><img src="img/pic09.jpg" alt="" /></a>
              <header>
                <h3><a href="#">HackNorthwestern</a></h3>
              </header>
              <p>
                "Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
                porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum."
              </p>
            </article>
          </div>
        </section>

      </div> -->

  <div class="wrapper style2">
    <article id="main" class="container special">
      <a class="image featured">
        <img src="img/team.jpg" alt="" />
      </a>
      <header>
        <h2>Who we are</h2>
      </header>
      <p>
        DesignWorks was formerly known as Promotional Student Designs, which was launched in the spring of 2013 as a graphic designer alliance for Northwestern University by Benedict Dungca and Arisa Toyosaki. It was created with the intention of raising aesthetic awareness on campus and meeting the community’s needs for a high-quality graphic design service. Met with beyond expected market demands, the team became profitable and decided to become a business after merging with an existing advertisement company, AdWorks. After a series of meetings between AdWorks and Promotional Student Designs, the two companies decided to merge and expand product offerings. With new capabilities and a new team, we revamped our name to DesignWorks.
      </p>
      <footer>
        <a href="/team" class="button">Meet the team</a>
      </footer>
    </article>
  </div>

  {{> footer}}
</body>