<body class="homepage">

  <div id="header">
    <div class="inner">
      <header>
        <h1>DesignWorks</h1>
        <hr />
        <p>Evanston's Premiere Design Firm by Students</p>
      </header>
      <footer>
        <a href="#banner" class="button circled scrolly"><i class="fa fa-angle-double-down"></i></a>
      </footer>
    </div>

    {{> nav}}
  </div>

  <section id="banner">
    <header>
      <h2>Hello! We are <strong>DesignWorks</strong>.</h2>
      <p>
        DesignWorks is a company devoted to offering high-quality design services to members and groups of the Northwestern community. The mission of DesignWorks is both to address the design needs of Northwestern as well as to generate design opportunities for talented students.
      </p>
    </header>
  </section>

  <section class="carousel">
    <header>
      <h2 class="carousel-header">Our Services:</h2>
    </header>
    <div class="reel">
      <article>
        <a href="/services#logos" class="image featured"> 
          <img src="img/logos.jpg" alt="" />
        </a>
        <header>
          <h3><a href="/services#logos">Logos</a></h3>
        </header>
        <p>A logo is the signature of your organization. We'll make it shine.</p>         
      </article>
    
      <article>
        <a href="/services#flyers" class="image featured"> 
          <img src="img/flyers.png" alt="" />
        </a>
        <header>
          <h3><a href="/services#flyers">Flyers</a></h3>
        </header>
        <p>Have something to announce? Our flyers will bring the masses.</p>          
      </article>
    
      <article>
        <a href="/services#social-media" class="image featured">
          <img src="img/coverphoto.png" alt="" />
        </a>
        <header>
          <h3><a href="/services#social-media">Social Media Package</a></h3>
        </header>
        <p>From facebook to twitter, we have your social media covered.</p>
      </article>
    
      <article>
        <a href="/services#pamphlets" class="image featured"><img src="img/pamphlets.jpg" alt="" /></a>
        <header>
          <h3><a href="/services#pamphlets">Pamphlets</a></h3>
        </header>
        <p>Need to introduce something? We'll help layout what you want to say.</p>             
      </article>
    
      <article>
        <a href="/services#websites" class="image featured"><img src="img/websites.png" alt="" /></a>
        <header>
          <h3><a href="/services#websites">Websites</a></h3>
        </header>
        <p>A website just the way you want it. Guaranteed.</p>              
      </article>

    </div>
  </section>
  <!-- Testimonials -->
<!--      <div class="wrapper style1">
        
        <section id="features" class="container special">
          <header>
            <h2>Testmonials</h2>
            <p>We love our clients, and we think they love us too</p>
          </header>
          <div class="row">
            <article class="4u special">
              <a href="#" class="image featured"><img src="img/pic07.jpg" alt="" /></a>
              <header>
                <h3><a href="#">Wildside</a></h3>
              </header>
              <p>
                "Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
                porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum."
              </p>
            </article>
            <article class="4u special">
              <a href="#" class="image featured"><img src="img/pic08.jpg" alt="" /></a>
              <header>
                <h3><a href="#">NSH</a></h3>
              </header>
              <p>
                "Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
                porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum."
              </p>
            </article>
            <article class="4u special">
              <a href="#" class="image featured"><img src="img/pic09.jpg" alt="" /></a>
              <header>
                <h3><a href="#">HackNorthwestern</a></h3>
              </header>
              <p>
                "Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
                porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum."
              </p>
            </article>
          </div>
        </section>

      </div> -->

  <div class="wrapper style2">
    <article id="main" class="container special">
      <a class="image featured">
        <img src="img/team.jpg" alt="" />
      </a>
      <header>
        <h2>Who we are</h2>q
      </header>
      <p>
        DesignWorks was formerly known as Promotional Student Designs, which was launched in the spring of 2013 as a graphic designer alliance for Northwestern University by Benedict Dungca and Arisa Toyosaki. It was created with the intention of raising aesthetic awareness on campus and meeting the community’s needs for a high-quality graphic design service. Met with beyond expected market demands, the team became profitable and decided to become a business after merging with an existing advertisement company, AdWorks. After a series of meetings between AdWorks and Promotional Student Designs, the two companies decided to merge and expand product offerings. With new capabilities and a new team, we revamped our name to DesignWorks.
      </p>
      <footer>
        <a href="/team" class="button">Meet the team</a>
      </footer>
    </article>
  </div>

  <div class="wrapper style1">
    <article id="form" class="container special">

      <header class="major special">
        <h2>Need something designed?</h2>
      </header>

      <p>Let us know what you want, when you want it and we will get back to you right away!</p>

      <form name="contactform" method="post" action="mail">
        <div class="row">
          <div class="6u 12u(mobilep)">
            <select type="text" name="Service" placeholder="Service">
              <option value="general">Select a service</option>
              <option value="Logo">Logo</option>
              <option value="Flyer">Flyer</option>
              <option value="Social Media Package">Social Media Package</option>
              <option value="Pamphlet">Pamphlet</option>
              <option value="Website">Website</option>
            </select>
          </div>
          <div class="6u 12u(mobilep)">
            <input type="email" name="Email" placeholder="Email" required>
          </div>
        </div>
        <div class="row">
          <div class="12u">
            <textarea name="Message" placeholder="Message" rows="6 required"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="12u">
            <ul class="actions">
              <li><input id="email-btn" type="submit" value="Send Message"></li>
            </ul>
          </div>
        </div>
      </form>

    </article>
  </div>

  {{> footer}}
</body>