<body class="no-sidebar portfolio">
  <div id="header">
    {{> nav}}
  </div>
    
  <div class="wrapper style1">

    <div class="container">
      <article id="main" class="special">
        <header>
          <h2>Our portfolio</h2>
          <p>
            We're pretty proud of it.
          </p>
        </header>
      </article>
      <div class="row">
        {{#each images}}
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/{{filename}}" rel="lightbox" >
            <img src="img/portfolio/{{filename}}" alt="" />
          </a>
        </article>
        {{/each}}
      </div>
    </div>

  </div>

  {{> footer}}

</body>