<body class="no-sidebar portfolio">
  <div id="header">
    {{> nav}}
  </div>
    
  <div class="wrapper style1">

    <div class="container">
      <article id="main" class="special">
        <header>
          <h2>Our portfolio</h2>
          <p>
            We're pretty proud of it.
          </p>
        </header>
      </article>
      <div class="row">
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/nuvc.jpg" rel="lightbox" >
            <img src="img/portfolio/nuvc.jpg" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/squareship.png" rel="lightbox" >
            <img src="img/portfolio/squareship.png" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/aibootcamp.jpg" rel="lightbox" >
            <img src="img/portfolio/aibootcamp.jpg" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/lion.png" rel="lightbox" >
            <img src="img/portfolio/lion.png" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/donut.jpg" rel="lightbox" >
            <img src="img/portfolio/donut.jpg" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/font.jpg" rel="lightbox" >
            <img src="img/portfolio/font.jpg" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/norris.png" rel="lightbox" >
            <img src="img/portfolio/norris.png" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/bigsean.png" rel="lightbox" >
            <img src="img/portfolio/bigsean.png" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/birdart.png" rel="lightbox" >
            <img src="img/portfolio/birdart.png" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/chinanight.jpg" rel="lightbox" >
            <img src="img/portfolio/chinanight.jpg" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/counterpoint.jpg" rel="lightbox" >
            <img src="img/portfolio/counterpoint.jpg" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/house.jpg" rel="lightbox" >
            <img src="img/portfolio/house.jpg" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/nua.jpg" rel="lightbox" >
            <img src="img/portfolio/nua.jpg" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/passionpit.jpg" rel="lightbox" >
            <img src="img/portfolio/passionpit.jpg" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/phantom.png" rel="lightbox" >
            <img src="img/portfolio/phantom.png" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/refreshdance.png" rel="lightbox" >
            <img src="img/portfolio/refreshdance.png" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/sheparddm.png" rel="lightbox" >
            <img src="img/portfolio/sheparddm.png" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/wholeplanet.jpg" rel="lightbox" >
            <img src="img/portfolio/wholeplanet.jpg" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/yoga.jpg" rel="lightbox" >
            <img src="img/portfolio/yoga.jpg" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="img/portfolio/hamiltoncoffeehouse.png" rel="lightbox" >
            <img src="img/portfolio/hamiltoncoffeehouse.png" alt="" />
          </a>
        </article>
        <article class="4u special">
          <a class="fancybox image featured" href="https://vimeo.com/121637274" target="_blank">
            <img src="img/portfolio/nbn.png" alt="" />
          </a>
        </article>
      </div>
    </div>

  </div>

  {{> footer}}

</body>