<body class="no-sidebar process">
  <div id="header">
    {{> nav}}
  </div>
      
  <div class="wrapper style1 process">
    <div class="container">
      <article id="main" class="special">
        <header>
          <h2>How it works</h2>
        </header>
        <section>
          <div class="row">
            <article class="3u -1u special">
              <a href="#" class="image featured"><img src="img/steps/contact.png" alt="" /></a>
            </article>
            <article class="8u special">
            <header>
              <h3>1. Initial Contact between Client and DesignWorks</h3>
            </header>
            <p>
              Client fills out DesignWorks Google form with information about their desired project, necessary deadline, contact information, etc.. Within 24 hours, client will receive a response from DesignWorks with a price quote, timeline information, DesignWorks starter kit, another Google form asking for all project specifics, and a contract with our terms of service.
            </p>
            </article>
          </div>
        </section>
        <section>
          <div class="row">
            <article class="3u -1u special">
              <a href="#" class="image featured"><img src="img/steps/first.png" alt="" /></a>
            </article>
            <article class="8u special">
            <header>
              <h3>2. First Design Stage</h3>
            </header>
            <p>
              DesignWorks pairs the client with a carefully chosen designer that best fits the clients design needs. Designer makes initial design based on client specifications and puts it on <a href="http://www.invisionapp.com/" target="_blank">InVision</a> by agreed upon due date. 
            </p>
            </article>
          </div>
        </section>
        <section>
          <div class="row">
            <article class="3u -1u special">
              <a href="#" class="image featured"><img src="img/steps/revision.png" alt="" /></a>
            </article>
            <article class="8u special">
            <header>
              <h3>3. The Revision Round</h3>
            </header>
            <p>
              The client will have two business days to provide feedback and to communicate with designer over InVision. This feedback will be incorporated within three business days and the client will be able to view the final product (watermarked) on InVision. If the client would like further rounds of revision they can follow the same procedure as before but will incur an additional revision fee.
            </p>
            </article>
          </div>
        </section>
        <section>
          <div class="row">
            <article class="3u -1u special">
              <a href="#" class="image featured"><img src="img/steps/payment.png" alt="" /></a>
            </article>
            <article class="8u special">
            <header>
              <h3>4. Payment</h3>
            </header>
            <p>
              Once revision is complete, DesignWorks will issue an invoice to the client. The client will then have five business days to make their payment. Cash, check, and chartstring are all accepted.
            </p>
            </article>
          </div>
        </section>
        <section>
          <div class="row">
            <article class="3u -1u special">
              <a href="#" class="image featured"><img src="img/steps/final.png" alt="" /></a>
            </article>
            <article class="8u special">
            <header>
              <h3>5. Your Final Design!</h3>
            </header>
            <p>
              Once the client’s payment has been received, DesignWorks will send the client their non-watermarked final product!
            </p>
            </article>
          </div>
        </section>
        <hr>
      </article>
    </div>
  </div>

  {{> footer}}
</body>