<body class="left-sidebar services">

  <div id="header">
    {{> nav}}
  </div>

  <div class="wrapper style1 services">

    <div class="container">
      <div class="row 200%">
        <div class="4u not-mobile not-narrow not-narrower" id="sidebar">
          <section>
            <header>
              <h3>We do many things well!</h3>
            </header>
            <div class="row 50% no-collapse">
              <h4><a href="#logos">Logos</a></h4>
            </div>
            <div class="row 50% no-collapse">
              <h4><a href="#flyers">Flyers</a></h4>
            </div>
            <div class="row 50% no-collapse">
              <h4><a href="#social-media">Social Media Package</a></h4>
            </div>
            <div class="row 50% no-collapse">
              <h4><a href="#pamphlets">Pamphlets</a></h4>
            </div>
            <footer>
              <a href="/process" class="button">How it works</a>
            </footer>
          </section>
        </div>
        <div class="8u -4u important(collapse)" id="content">
          <article id="main">
            <header>
              <h2>Our Services</h2>
            </header>
            <hr>
            <section id="logos">
              <header>
                <h2>Logos</h2>
              </header>
              <a class="image featured"><img src="img/services-logos.jpg" alt="" /></a>
              <p>
                With a DesignWorks logo, you can transform your department, business, or student group into a household name! Everyone will associate you with your head-turning insignia, and your logo will help turn your group into the brand you always knew you could be. Our final deliverable will be a logo with a transparent background rasterized in multiple dimensions and a .ai and/or .eps file for your future use.
              </p>
            </section>
            <hr>
            <section id="flyers">
              <header>
                <h2>Flyers</h2>
              </header>
              <a href="#" class="image featured"><img src="img/services-flyers.jpg" alt="" /></a>
              <p>
                Do you have an event or info session coming up, but don’t know how to advertise it properly? Our talented designers know what designs catch the eye, and your flyer is guaranteed to attract the attention of passers-by. Our designers can make flyers of all sizes, and can do anything ranging from illustrations to geometric designs in order to advertise your event!
              </p>
            </section>
            <hr>
            <section id="social-media">
              <header>
                <h2>Social Media Package</h2>
              </header>
              <a href="#" class="image featured"><img src="img/services-socialmedia.png" alt="" /></a>
              <p>
                With the DesignWorks social media package, your department, business, or student group will have the online presence you always hoped to have! You’ll receive a high resolution Facebook profile picture and cover photo that you can use not only for Facebook events and pages but also for other social media platforms like Twitter and Instagram. Our designers will optimize sizes and resolutions for upload compression and orientation.
              </p>
            </section>
            <hr>
            <section id="pamphlets">
              <header>
                <h2>Brochures & Pamphlets</h2>
              </header>
              <a href="#" class="image featured"><img src="img/services-pamphlets.png" alt="" /></a>
              <p>
                Our designers can create templates for pamphlets of any kind! If you have a Word Document full of important information, your DesignWorks pamphlet will make your content visually appealing and easy to read!
              </p>
            </section>
 {{!--            <hr>
            <section id="websites">
              <header>
                <h2>Websites (beta)</h2>
              </header>
              <a href="#" class="image featured"><img src="img/services-websites.png" alt="" /></a>
              <p>
                A DesignWorks is the best way to enhance your online presence! Our talented web developers and layout specialists can do everything from re-designing an existing site to building you a site from scratch. If you have a specific project in mind feel free to ask us for more information! 
              </p>
            </section> --}}
          </article>
        </div>
      </div>
    </div>

  </div>

  {{> footer}}

  </body>