<body class="no-sidebar team">

  <div id="header">
    {{> nav}}
  </div>
      
  <div class="wrapper style1 team">
    <section id="banner">
      <header>
        <h2>Hello! We are <strong>DesignWorks</strong>.</h2>
        <p class="10u -1u">
          DesignWorks is a company devoted to offering high-quality design services to members and groups of the Northwestern community. The mission of DesignWorks is both to address the design needs of Northwestern as well as to generate design opportunities for talented students.
        </p>
      </header>
    </section>
    <div class="container">
      <div class="row uniform">
        <article class="2u -1u special">
          <a href="https://www.linkedin.com/profile/view?id=401410961" class="image featured">
            <img src="img/team/michael1.jpg" alt="" class="img-primary"/>
            <img src="img/team/michael2.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Michael Paretzky - Director</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a href="https://www.linkedin.com/pub/danielle-lay/1a/a25/356" class="image featured">
            <img src="img/team/danielle1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/danielle2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Danielle Lay - Manager</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a href="https://www.linkedin.com/in/toyosaki" class="image featured">
            <img src="img/team/arisa1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/arisa2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Arisa Toyosaki - Manager</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a href="https://www.linkedin.com/pub/kevin-liou/6a/31b/336" class="image featured">
            <img src="img/team/kevin1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/kevin2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Kevin Liou - Manager</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a href="https://www.linkedin.com/in/nikhilpi/" class="image featured">
            <img src="img/team/nikhil1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/nikhil2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Nikhil Pai - Manager</h3>
            </div>
          </a>
        </article>
      </div>
      <div class="row uniform">
        <article class="2u -1u special">
          <a class="image featured">
            <img src="img/team/benji1.jpg" alt="" class="img-primary"/>
            <img src="img/team/benji2.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Benji Leibowitz - Manager</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/ari1.jpg" alt="" class="img-primary"/>
            <img src="img/team/ari2.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Ari Juster - Manager</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/sonia1.jpeg" alt="" class="img-primary"/>
            <img src="img/team/sonia2.jpeg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Sonia Nigam - Manager</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/adam1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/adam2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Adam Turkel</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/aleka1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/aleka2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Aleka Cheung</h3>
            </div>
          </a>
        </article>
      </div>
      <div class="row uniform">
        <article class="2u -1u special">
          <a class="image featured">
            <img src="img/team/ashley1.jpg" alt="" class="img-primary"/>
            <img src="img/team/ashley2.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Ashley Wu</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/avery1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/avery2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Avery Fisher</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/ben1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/ben2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Benedict Dungca</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/bo1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/bo2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Bo Suh</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a href="haubursin.com" target="_blank" class="image featured">
            <img src="img/team/christophe1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/christophe2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Christophe Haubursin</h3>
            </div>
          </a>
        </article>
      </div>
      <div class="row uniform">
        <article class="2u -1u special">
          <a class="image featured">
            <img src="img/team/drake1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/drake2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Drake Thomas</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/emily1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/emily2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Emily Howell</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/ghikhan1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/ghikhan2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Ghikhan Blossfeld-Lau</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/joanne1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/joanne2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Joanne Lee</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/josh1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/josh2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Joshua Shi</h3>
            </div>
          </a>
        </article>
      </div>
      <div class="row uniform">
        <article class="2u -1u special">
          <a class="image featured">
            <img src="img/team/justice1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/justice2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Justice Pettigrew</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/quentin1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/quentin2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Quentin Heilbroner</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/ryan1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/ryan2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Ryan Madden</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/vasiliki1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/vasiliki2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Vasiliki Valkanas</h3>
            </div>
          </a>
        </article>
        <article class="2u special">
          <a class="image featured">
            <img src="img/team/yang1_cropped.jpg" alt="" class="img-primary"/>
            <img src="img/team/yang2_cropped.jpg" alt="" class="img-secondary"/>
            <div class="img-caption">
              <h3>Yang Yu</h3>
            </div>
          </a>
        </article>
      </div>
    </div>
  </div>

  {{> footer}}
</body>